* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 5rem calc(100vh - 5rem - 3rem) 3rem;
    grid-template-areas: "header header"
        "sidebar container"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: #CDBEAF;
}

.sidebar {
    grid-area: sidebar;
    background-color: #E6DCDC;
    scrollbar-color: grey #E6DCDC;
    overflow-y: auto;
}

.container {
    grid-area: container;
    background-color: #5A5550;
    /* overflow-y: auto;
    scrollbar-color: grey aquamarine; */
}

.footer {
    grid-area: footer;
    background-color: #CDBEAF;
}

.modal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    padding: 2rem;
}

.project-btn-container {
    position: absolute;
    right: 0.5rem;
    top: 1rem
}

.add-card-icon {
    color: white;
    width: 3rem;
    height: 3rem;
}